body {
	background-image: url(img/winter-snow.jpg);
	font-family: "Work Sans", sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.huvudrubrik {
	display: flex;
	justify-content: space-between;

	width: 100%;
	border: 5px solid black;
}

.huvudrubrik h1 {
	background-color: gray;
	color: burlywood;
}

.lediga-dagar {
	padding: 10px 25px;
	background-color: gray;
	border: 2px solid burlywood;
	color: white;
	list-style: square;
}

.lediga-dagar li:nth-child(2) {
	color: red;
	background-color: white;
}

.lediga-dagar li:last-child {
	background-color: darkgoldenrod;
}

.kalender {
	text-align: center;
	padding: 5px;
	border: 5px solid black;
}

.kalender * {
	border: 2px solid red;
	border-collapse: collapse;
}

.kalender th {
	background-color: gray;
}

.kalender td {
	background-color: burlywood;
	font-weight: 700;
}

.kalender .röd-dag {
	color: red;
}

.sidfot {
	margin-top: 20px;
	border: 5px solid black;
}
