body {
	background-image: url(img/winter-snow.jpg);
}

.huvudrubrik {
	display: flex;
	justify-content: space-between;

	border: 5px solid black;
}

.huvudrubrik h1 {
	background-color: gray;
	color: burlywood;
}
